@charset "UTF-8";
/* section
----------------------------------------------------*/
.section{
  width:80%;
  max-width:1000px;
  margin: 0 auto 10%;
  letter-spacing:.4rem;
  text-align:center;
}

.section-title{
  font-size:200%;
  text-align:center;
  margin-bottom:6%;

  span{
    font-size:11px;
    display:block;
    margin-bottom:8px;
    color:$color-subtext;
  }
}

.section-body{
  margin:0 auto;
  width:auto;
  display:inline-block;
  text-align:left;
}

@include media-max {
.section-body{
  white-space:nowrap;
}


}

/* SP */
@include media-min {
.section{
  margin-bottom:20%;
}

.section-body{
}

}


