@charset "UTF-8";
/* header
----------------------------------------------------*/
.header{
  padding:15% 0;
  text-align:center;

  h1{
    font-size:200%;
  }
}

/* SP */
@include media-min {
.header{
  padding:25% 0;

}

}
