/* contents
----------------------------------------------------*/
.c-contents{

}



@media (--media-max) {
.c-contents{
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
}

}

/* SP */
@media (--media-min) {
.c-contents{
	padding: 0 20px;

}

}
